.content{
  display: block;
  margin: auto;
  margin-top: 5px;
  width: 70%;
  border: 2px double darkblue;
  border-radius: 10px;
  padding: 15px;
  background-color: lightblue;
  
}

div.messages{

  width: 100%;
  height: 600px;
  margin: auto;
  overflow: auto;
  padding: 20px;
  color: darkblue;
}

h3{
  text-align: center;
  text-decoration: underline;
  font-size: 20px;
}

div#messages *{

   color: black;
   font-family: "Verdana";
}

div.inputmsg{
  position: relative;
  bottom: 2px;
}

form{

  width: 30%;
  margin-left: auto;
  margin-right: auto;
  min-width: 350px;
}
#navBar li{
  float: left;
  text-align: center;
  font-size: 16px;
  border-radius: 5px;
  border: 2px outset #0e0785;
  margin-right:  20px;
  background-color: #3498DB;
}

label{
  color: darkblue;

}

#rigth, #left{
 
  
  display: block;
 
}

#left{
   
  width: 40%;
  min-height: 80%;
  border: 2px solid #0e0785;
  border-radius: 5px;
  margin: auto;
  padding: 10px;
  text-align: center;
  letter-spacing: 1px;
  background-color: lightblue;
  color: darkblue;
  font-family: "Arial";
}
fieldset{
  width: 100%;
}
legend, label{
  letter-spacing: 1px;

}
#rigth{

  min-width: 20%;
  max-width: 20%;
  border-radius: 5px;
  background-color: lightblue;
  color: darkblue;
}
th{

}

table{
  border: 1px solid #0e0785;
  margin: 1px;
  width: 100%;
}


